  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

  body {
      background: #ffffff;
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: bold;
      line-height: inherit;
  }

  h1 {
      color: #ffffff;
      font-size: 3em;
      line-height: 50px;
  }

  h2 {
      color: #353535;
      font-size: 2em;
      padding-bottom: 10px;
  }

  h3 {
      font-size: 1.5em;
      margin-bottom: 0;
  }

  h3,
  h3 a {
      color: #fffff;
  }

  p {
      color: #757575;
      font-size: 14px;
      font-weight: normal;
      line-height: 24px;
  }

  .top li {

      margin-right: 20px;
  }

  .top a {
      color: white;
      border-style: solid;
      border-width: 1px;
      border-radius: 15px;
      border-color: transparent;
      padding: 10px;
      transition: all .8s ease-in 0s;
  }

  .top a:hover {
      color: burlywood;
      border-color: white;

  }

  .m .row {
      background-image: url(../images/main-background-xs.jpg);
      background-position: inherit;
      background-repeat: no-repeat;
      background-attachment: local;
      background-size: cover;
      height: 650px;
  }

  .caption {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      background-color: rgba(20, 20, 20, 0.2);
      height: 100%;
      color: #fff;
      padding: 4em 0 0 2em;
      margin-left: 10%;
  }

  .section-btn {
      background: transparent;
      color: #ffffff;
      border: 1px solid #ffffff;
      transition: all .5s ease-out 0s;
  }

  .section-btn:hover,
  .section-btn:focus {
      background: #ce3232;
      border-color: transparent;
      color: #ffffff;
  }

  .about {
      padding-bottom: 0;
      margin-top: 10%;
      margin-left: 7%;
      margin-right: 7%;
  }

  .about-info {
      padding: 0 6em 5em 0;
  }

  .about-info .section-title {
      padding-bottom: 20px;
  }


  /*---------------------------------------
      TEAM
  -----------------------------------------*/

  #team {
      background: #f9f9f9;
  }

  .team-thumb {
      position: relative;
      overflow: hidden;
      cursor: pointer;
  }

  .team-info {
      padding: 10px 30px 20px 30px;
  }

  .team-thumb .team-hover {
      position: absolute;
      background: #1c1c1c;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      opacity: 0;
      transform: translateY(100%);
      transition: 0.5s 0.2s;
  }

  .team-thumb:hover .team-hover {
      opacity: 0.95;
      transition-delay: 0.3s;
      transform: translateY(0);
  }

  .team-thumb img {
      transition: 0.5s 0.2s;
  }

  .team-thumb:hover img {
      transform: scale(1.2);
  }

  .team-thumb .social-icon li a {
      background: #292929;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      color: #d9d9d9;
      font-size: 20px;
      margin: 15px 5px 0 5px;
  }

  .team-thumb .team-item {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
  }

  .team-item h3 {
      color: #ffffff;
  }

  .team-info p {
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 5px;
  }

  /*---------------------------------------
     SOCIAL ICON
  -----------------------------------------*/

  .social-icon {
      position: relative;
      padding: 0;
      margin: 0;
  }

  .social-icon li {
      display: inline-block;
      list-style: none;
      margin-bottom: 5px;
  }

  .social-icon li a {
      border-radius: 100px;
      color: #ce3232;
      font-size: 15px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-decoration: none;
      text-align: center;
      transition: all 0.4s ease-in-out;
      position: relative;
  }

  .social-icon li a:hover {
      background: #ce3232;
      color: #ffffff;
  }

  /*---------------------------------------
     MENU
  -----------------------------------------*/

  #menu {
      padding-bottom: 0;
      margin-top: 10%;
  }

  #menu .container {
      width: 100%;
  }

  #menu .col-md-4 {
      margin-right: 0;
      padding: 0;
  }

  .menu-thumb img {
      width: 100%;
      transition: 0.5s;
  }

  .menu-thumb:hover img {
      transform: scale(1.15);
  }

  #menu .menu-thumb {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      width: 110%;
  }

  .menu-thumb .menu-info {
      position: absolute;
      top: 60%;
      left: 0px;
      right: 0px;
      bottom: 0px;
      text-align: left;
      padding: 25px 30px;
      transition: 0.5s 0.2s;
  }

  .menu-info .menu-item {
      float: left;
  }

  .menu-info .menu-price {
      float: right;
  }

  .menu-info .menu-price span {
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
      display: block;
      margin-top: 10px;
  }

  .menu-thumb .menu-info h3,
  .menu-thumb .menu-info p,
  .menu-thumb .menu-info span {
      transform: translateY(100%);
      opacity: 0;
      display: block;
      transition: 0.5s 0.2s;
      color: #ffffff;
      z-index: 2;
      position: relative;
  }

  .menu-thumb .menu-info h3 {
      margin-top: 0;
  }

  .menu-thumb .menu-info p {
      color: #d9d9d9;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
  }

  .menu-thumb:hover .menu-info h3,
  .menu-thumb:hover .menu-info p,
  .menu-thumb:hover .menu-info span {
      transform: translateY(0px);
      opacity: 1;
  }

  .menu-thumb:hover .menu-info {
      background: rgba(0, 0, 0, 0.8);
  }

  /*---------------------------------------
      CONTACT
  -----------------------------------------*/

  #contact .section-title {
      padding-bottom: 0;
      margin-top: 20%;
  }

  #contact .text-success,
  #contact .text-danger {
      display: none;
  }

  #contact .form-control {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #dddddd;
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 15px;
      transition: all ease-in-out 0.4s;

  }

  #contact .form-control:hover,
  #contact .form-control:focus {
      border-bottom-color: #c9c9c9;
  }

  #contact input {
      height: 55px;
  }

  #contact button#cf-submit {
      background: #ce3232;
      border-radius: 0;
      border: 0;
      color: #ffffff;
      font-weight: bold;
      height: 50px;
  }

  #contact button#cf-submit:hover {
      background: #292929;
      color: #ffffff;
  }

  #google-map iframe {
      border: 0;
      width: 100%;
      height: 390px;
      margin-top: 20%;

  }

  /*---------------------------------------
     FOOTER
  -----------------------------------------*/

  footer {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      padding: 120px 0;
      padding-bottom: 80px;
  }

  footer .section-title {
      padding-bottom: 10px;
  }

  footer h2 {
      font-size: 20px;
  }

  footer a,
  footer p {
      color: #909090;
  }

  footer strong {
      color: #d9d9d9;
  }

  footer address p {
      margin-bottom: 0;
  }

  .footer-info,
  footer .social-icon {
      margin-top: 20px;
  }

  .footer-open-hour {
      background: #ce3232;
      background: url('../images/footer-open-hour-bg.jpg') center center no-repeat;
      background-size: cover;
      border-radius: 20px;
      margin-top: 0;
      padding: 40px 0 40px 80px;
      overflow: hidden;
      position: relative;
      z-index: 22;
      right: 20px;
      bottom: 20px;
  }

  .footer-open-hour::after {
      background: rgba(29, 29, 29, 0.85);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2222;
  }

  .footer-open-hour h2 {
      color: #ffffff;
  }

  .footer-open-hour p {
      color: #d9d9d9;
  }

  .footer-open-hour strong {
      color: #f9f9f9;
  }
